<center>
    <h1>Signup</h1>
    <%= simple_form_for @user do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.button :submit, 'Save'%>
    <% end %>

    <%= month_calendar do |date| %>
        <%= date %>
    <% end %>
</center>

